= bb_btn "/responsive", "Responsive", :responsive, icon: "play"
= bb_btn "/responsive", "Responsive", :xs
= bb_btn "/responsive", "Responsive", :sm
= bb_btn "/responsive", "Responsive"
= bb_btn "/responsive", "Responsive", :lg
